[Desktop Entry]
Name=Diviya
Comment=Diviya Plamsa Theme

X-KDE-PluginInfo-Author=Hasindu Lanka
X-KDE-PluginInfo-Email=HasinduLanka@gmail.com
X-KDE-PluginInfo-Name=diviya
X-KDE-PluginInfo-Version=5.87.0
X-KDE-PluginInfo-Website=https://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0


# [ContrastEffect]
# enabled=false
# contrast=0.2
# intensity=0.4
# saturation=1.7
#
#
# [AdaptiveTransparency]
# enabled=true
