[Desktop Entry]
Name=Kadiya
Comment=Kadiya transparent plamsa theme

X-KDE-PluginInfo-Author=Hasindu Lanka
X-KDE-PluginInfo-Email=HasinduLankaCC@gmail.com
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0


[ContrastEffect]
enabled=true
contrast=0.17
intensity=1.25
saturation=9


[AdaptiveTransparency]
enabled=true
